<?xml version="1.0"?>
<launch>
 
 <!--find map from map server-->
 <node name="map_server" pkg="map_server" type="map_server" args="$(find mybot_navigation)/maps/map.yaml" />
 
 <!--tell tf where the lidar sensor is located on the robot-->
 <node pkg="tf" type="static_transform_publisher" name="base_laser_broadcaster"
      args="0 0 0 0 0 0 base_link laser 100"/>

 <!--search for navigation algorithm-->
 <include file="$(find amcl)/examples/amcl_diff.launch" />

  <!--Move base, used for planning-->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find mybot_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mybot_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mybot_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find mybot_navigation)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find mybot_navigation)/config/base_local_planner_params.yaml" command="load" />
    
    <param name="planner_frequency" type="double" value="5.0" />
    <param name="controller_frequency" type="double" value="5.0" />
  </node>

</launch> 
