<?xml version="1.0"?>
<launch>

 <param name="robot_description" command="$(find xacro)/xacro.py '$(find mybot_description)/urdf/rolstoelbot.xacro'"/>
	
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mybot_description)/rviz/amcl.rviz"/>

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen"/>

  <node pkg="my_odom_configuration_dep" type="odom_node.cpp" name="odom_node" output="screen"/>

</launch> 
